.*
._*
!/.gitignore
tasks/model_parameters/*
tasks/plots/dataset_analysis/*
tasks/plots/model_training/*
tasks/plots/model_evaluation/*
data/*.pkl
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
__pycache__
*/__pycache__
best_model_params.pth